

/* Custom Fonts by M Croft */
@font-face { /* General font for all text */
    font-family: 'ArchivoBlack-Regular';
    src: url('../fonts/ArchivoBlack-Regular.otf')
}

@font-face { /* Button and command text and headers */
    font-family: 'Archivo-BoldItalic';
    src: url('../fonts/Archivo-BoldItalic.otf')
}



/* Main body formatting by M Croft */
body {
    background-color: #EDE7D9;
    /* Use Sans-serif fonts as it is more accessible to visually impaired users */
    font-family: ArchivoBlack-Regular, Arial, Helvetica, sans-serif; 
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px black;

    margin: 20px;
}



/* Logo formatting by M Croft */
header {
    width:100%;
    min-width: 350px;
}

header #logo {
    width: 200px;
    height: 129px;
}



/* Header Default Formatting by M Croft */
h1 {
    font-family: Archivo-BoldItalic, Arial, Helvetica, sans-serif; 
    text-shadow: 1px 1px 2px black, 0 0 15px purple, 0 0 5px black;
}

h2 {
    font-family: Archivo-BoldItalic, Arial, Helvetica, sans-serif; 
    text-shadow: 1px 1px 2px black, 0 0 15px purple, 0 0 5px black;
}



/* Navigation formatting by M Croft */
header nav {
    display: block;
    background-color: #0C5CA1;

    border-radius: 20px;
    padding: 0 20px;
    margin: 10px 10px 20px 10px;

    min-width: 334px;
    float: right;

    box-shadow: 10px 10px rgba(128,128,255,0.1);
}

header nav ol {
    display: inline-block;
    list-style:none;
    margin: 0; 
    padding: 0 20px;
}

header nav li {
    display: inline-block;
    margin: auto;
}

header nav li a {
    display: inline-block;

    color: #EDE7D9;
    animation-name: navbuttons;
    animation-iteration-count: infinite;
    animation-duration: 15s;

    text-decoration: none;
    text-align: center;
    font-size: 16px;
    font-family: Archivo-BoldItalic, Arial, Helvetica, sans-serif; 

    border-radius: 5px;
    border: 1px solid black;

    padding: 15px 20px;
    margin: 2px 10px;

    width: 160px;
}

@keyframes navbuttons {
    0%   {background-color: #1CA3E4;}
    50% {background-color: #9d6ff1;}
    100% {background-color: #1CA3E4;}
  }


header nav li a:hover {
    background-color: #D5A021;
    animation-name: none;

    transform: scale(1.15);
    transition: transform 0.5s;
}



/* General Section formatting used by all sections on site by M Croft */
section {
    display: flex;
    flex-flow: column wrap;

    color: #EDE7D9;
    background-color: #0C5CA1;

    border: 1px solid black;
    border-radius: 5px;
    padding: 0 20px;

    width: 500px;
    min-width: 350px;
    max-width: 650px;
    flex-grow: 1;

    box-shadow: 10px 10px rgba(128,128,255,0.1);
}

section h2 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    width: 100%;
}

section div {
    display: flex;
    background-color: #0C5CA1;

    border-radius: 5px;
    border: 1px solid grey;
    padding: 5px;
    margin: 5px 0;
}

section div * {
    padding: 5px;
}

section div img {
    width: 250px;
    height: 200px;
}

section div p {
    width: 250px;
    font-size: 16px;
}




/* General table formatting used by all tables on site by M Croft */
table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
    margin: 10px 0;

    text-shadow: 1px 1px 2px black;
}

th {
    border-collapse: collapse;
    border: 1px solid black;
}

table th, td {
    border-right: 1px solid black;
    padding: 5px;
}

/* Colour alternate rows darker to aid readability in both tables */
tr:nth-child(even) {
    background-color: #093d6b;
}



/* Footer formatting by M Croft */
footer {
    background-color: #0C5CA1;

    border-radius: 20px;
    padding: 0 20px;
    margin: 10px 10px 20px 10px;

    width: 100%;
    min-width: 350px;

    box-shadow: 10px 10px rgba(128,128,255,0.1);
}
footer nav {
    float:left;
}

footer nav ol {
    display: inline-block;
    list-style:none;
    margin: 0; 
}

footer nav li {
    display: inline-block;
}

footer nav li a {
    display: inline-block;

    color: #EDE7D9;

    text-decoration: none;
    text-align: center;
    font-family: Archivo-BoldItalic, Arial, Helvetica, sans-serif; 

    border-radius: 5px;
    border: 1px solid black;
    padding: 8px;
    margin: 5px 3px;

    width: 160px;
}

footer nav li a:hover {
    background-color: #D5A021;
}

footer div#Socials {
    width: 170px;
    display: block;
    float: right;
}

footer div#Socials  img {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 5px;
}

footer div#Socials img:hover {
    background-color: #D5A021;
}



/* Control Classes by M Croft */
.align-sbs { /* Align the content side by side rolling to the next row if needed */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 10px;
}

.align-ontop { /* Align the content on top of each other rolling to next column if needed*/
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    gap: 10px;
}

.popouthover:hover { /* Pop out the content on hover */
    transform: scale(1.10);
    transition: transform 0.5s;
}

.mutedecoration { /* Mute the decoration, do not denote links etc. This is handled by other indications. */
    color:inherit;
    text-decoration: none;
}






/* ------------------ INDEX PAGE SPECIFIC by M Croft ------------------ */

/* Banner formatting by M Croft */
img#banner {
    width: 100%;
    border-radius: 5px;
    min-width: 350px;
}

/* Testimonial formatting by M Croft */
section#Testimonials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 0 10px;
    margin: 0 0 20px;
    text-shadow: none;

    width: 100%;

    max-width: inherit;
    flex-grow: 0;
}

section#Testimonials p {
    display: inline-block;
    color: black;
    background-color: #EDE7D9;

    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;


    text-align: center;
    font-size: 16px;
    font-style: italic;

    width: 300px;
}

/* Getting Here Section by M Croft */
section#GettingHere div#IndexMap img {
    width: 450px;
    height: auto;
    margin: auto;
    min-width: 350px;
}

section#GettingHere div#IndexMap p {
    width: 100%;
    min-width: 350px;
}



/* ------------------ WHAT HAPPENS HERE PAGE SPECIFIC by M Croft ------------------ */
/* Roller Prime Section by M Croft */
section#RollerPrime video {
    margin: auto;
}

/* Event Space Section by M Croft */
section#EventSpace img {
    width: 300px;
    height: auto;
    margin: auto;
}

section#EventSpace p {
    width: 100%;
}

/* Splashing Water Section by M Croft */
section#SplashingWater img {
    width: 350px;
    height: auto;
    margin: auto;
}

/* Petting Zoo Section by M Croft */
section#PettingZoo img {
    width: 300px;
    height: auto;
    margin: auto;
}
section#PettingZoo p {
    width: 100%;
}




/* ------------------ ABOUT US PAGE SPECIFIC by M Croft ------------------ */
/* Ticket Times Section by M Croft */
section#TicketTimes {
    width: 600px;
    min-width: 400px;
}

/* Directions Section by M Croft */
section#Directions img {
    width: 100%;
    height: auto;
    margin: auto;
}
section#Directions p {
    width: 100%;
}

/* Accessibility Section by M Croft */
section#Accessibility img {
    width: 300px;
    height: auto;
    margin: auto;
}
section#Accessibility p {
    width: 100%;
}

/* In Media Section by M Croft */
section#InMedia img {
    width: 350px;
    height: auto;
    margin: auto;
}